data/updated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) by Oleksii Shatalov (NURE) -->
<!-- W3C Schema generated by XMLSpy v2020 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="amount_of_customers">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_amount_of_customers">
					<xs:attribute name="currency" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="people"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="code">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CN"/>
				<xs:enumeration value="KR"/>
				<xs:enumeration value="US"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="company_name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Google"/>
				<xs:enumeration value="Motorola"/>
				<xs:enumeration value="Samsung"/>
				<xs:enumeration value="Xiaomi"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="country">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="code"/>
			</xs:sequence>
			<xs:attribute name="format" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="iso-3166"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="items_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="phone" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="model_name" type="xs:string"/>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="China"/>
				<xs:enumeration value="South Korea"/>
				<xs:enumeration value="USA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="phone">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="model_name"/>
				<xs:element ref="company_name"/>
				<xs:element ref="price"/>
				<xs:element ref="rating"/>
				<xs:element ref="amount_of_customers"/>
				<xs:element ref="country"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="result_0"/>
						<xs:enumeration value="result_1"/>
						<xs:enumeration value="result_10"/>
						<xs:enumeration value="result_11"/>
						<xs:enumeration value="result_12"/>
						<xs:enumeration value="result_13"/>
						<xs:enumeration value="result_14"/>
						<xs:enumeration value="result_15"/>
						<xs:enumeration value="result_16"/>
						<xs:enumeration value="result_2"/>
						<xs:enumeration value="result_3"/>
						<xs:enumeration value="result_4"/>
						<xs:enumeration value="result_5"/>
						<xs:enumeration value="result_6"/>
						<xs:enumeration value="result_7"/>
						<xs:enumeration value="result_8"/>
						<xs:enumeration value="result_9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="price">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_price">
					<xs:attribute name="currency" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="dollar"/>
								<xs:enumeration value="euro"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="rating">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
				<xs:enumeration value="4.1"/>
				<xs:enumeration value="4.2"/>
				<xs:enumeration value="4.3"/>
				<xs:enumeration value="4.5"/>
				<xs:enumeration value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="ST_amount_of_customers">
		<xs:restriction base="xs:string">
			<xs:enumeration value="10,785"/>
			<xs:enumeration value="121"/>
			<xs:enumeration value="148"/>
			<xs:enumeration value="156"/>
			<xs:enumeration value="162"/>
			<xs:enumeration value="2,114"/>
			<xs:enumeration value="2,155"/>
			<xs:enumeration value="2,401"/>
			<xs:enumeration value="2,619"/>
			<xs:enumeration value="3,285"/>
			<xs:enumeration value="3,548"/>
			<xs:enumeration value="3,671"/>
			<xs:enumeration value="39"/>
			<xs:enumeration value="506"/>
			<xs:enumeration value="641"/>
			<xs:enumeration value="669"/>
			<xs:enumeration value="7,900"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_price">
		<xs:restriction base="xs:decimal">
			<xs:enumeration value="102.96"/>
			<xs:enumeration value="104"/>
			<xs:enumeration value="124.99"/>
			<xs:enumeration value="129"/>
			<xs:enumeration value="146.74"/>
			<xs:enumeration value="150"/>
			<xs:enumeration value="300"/>
			<xs:enumeration value="69.99"/>
			<xs:enumeration value="89.99"/>
			<xs:enumeration value="98.39"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
